
.caixa-texto {
  background-color: lightgray; /* Cor de fundo da caixa */
  color: #333;               /* Cor do texto */
  padding: 20px;             /* Espaçamento interno */
  width: 80%;                /* Largura relativa à tela */
  max-width: 600px;          /* Largura máxima */ 

}

.equipe {
    display: flex;
    justify-content: space-around; /* Espaça os membros igualmente */
    padding: 50px 30px;
    text-align: center;
    max-width: 400px; 

}

    
.intro{
  color:#black
}
