
.descricao {
  background-color: #b0acac;
  color: #333;               
  padding: 20px 70px;            
  width: 70%;                
  max-width: 300px;          
}

.equipe {
    display: flex;
    justify-content: baseline;
    padding: 30px 30px;
    text-align: center;
    max-width: 400px; 
<<<<<<< HEAD
    }

.nomes {
    font-size: 2em;
    color: black;
    margin: 10px;
  }

footer {
    background-color: #730A13;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
=======

>>>>>>> 2b3d68165bc2124c4df37d6bab6f89b4c6c4e09c
}

.nomes {
    display: flex;
    justify-content:center;
    padding: 10px 20px;
    max-width: 400px; 

}

.sub{
    color: #730A13; 
    padding: 0px 20px;  
    max-width: 500px; 


}

.titulo{
  color:black;               
  padding: 0px 20px;                    
  max-width: 1000px;  

}