.caixa-texto {
  border-radius: 20px;
  font-size: 25px ;
  background-color: lightgray; 
  color: #333;               
  padding: 20px;             
  width: 80%;                
  max-width: 1000px;         

}

.video{        
  padding:30px;
  width: 1000px;
  height: 515px;
  border-radius: 40px;
  display: block;
  margin: 0 auto;
  

}

 
  .tituloVideo{
    padding: 20px;             
    width: 86%;   
    display:grid;
    justify-content: center;
    }
               
  




footer {
    background-color: #730A13;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
}