
.caixa-texto {
  background-color: lightgray; 
  color: #333;               
  padding: 20px;             
  width: 80%;                
  max-width: 600px;         

}
.video{
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  .tituloVideo{
    justify-content: center;
    padding: 20px;             
    width: 80%;                
    max-width: 1400px;      
  }




footer {
    background-color: #730A13;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
}
